<!doctype html>

<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<head>
    <meta charset="utf-8">
    
    <title>Criminal Interrogation</title>

    
    <meta http-equiv="content-language" content="en">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1" />
    <link rel="icon" type="image/x-icon" href="main/static/main/favicon.ico" />

    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="main/static/main/css/bootstrap.css">
    <link rel="stylesheet" href="main/static/main/css/normalize.min.css">
    <link rel="stylesheet" href="main/static/main/css/mainf9e3.css?v=1.1">
    <link rel="stylesheet" href="main/static/main/css/other.css">
    

    <script src="main/static/main/js/vendor/modernizr-2.8.3.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.4.3/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.4.3/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.4.3/firebase-database.js"></script>
    <script src="main/static/main/libraries/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
</head>

<body>  
    {% csrf_token %}
    <div id="live">
        <div id="cam_container" class="container_small">
            <video id="videoel" width="300" height="225" preload="auto" loop muted>
            </video>
            <canvas id="cam_overlay" width="300" height="225"></canvas>
        </div>
        <div id='emotion_chart'>
            <span class="factors">angry sad surprised happy</span>
        </div>
    </div>
    <div id="wrap">
      <a id='options'>Options</a>
      <div class="wrapper">
        <p>Are you ready for the interrogation to begin?</p>
        <a id="begin"><span>YES</span></a>
        
      </div>
      
      <div id="settings">
      
        <a id='back'>Return</a>
        <div id="basic">
        <center>
        <p id='level'>Select Difficulty Level: <a id="easy">EASY</a><a id="med">MEDIUM</a><a id="hard">HARD</a></p><br>
        <p id='bSound'>Background Sound: 
          <input type="radio" id="on" name="bgSound" value="1" checked="checked"/>
          <label for="on">On</label>
          <input type="radio" id="off" name="bgSound" value="0"/>
          <label for="off">Off</label>
        </p><br>
        <p id='credits'><a id="cred">Credits</a></p>
        </center>
      </div>
      <div id='alternate'>
        <center>
          <p>Interrogate - <span>CTIS 496 Project</span></p><br>
          <p>Group Members: <span>Fahad Ahmad, Shams Karimova, <br>Hassam Bazil, Muhammad Faran</span></p><br>
          <p>Supervisor: <span>Duygu Albayrak</span></p>
        </center>
      </div>
      </div>
    </div>
    
  
      <div class="videos">
        <!-- <video id="introvideo" preload="auto">
          <source src="main/static/main/videos/example.mp4" type="video/mp4" />
        </video>
        <video id="secvideo" preload="auto" muted>
          <source src="main/static/main/videos/example1.mp4" type="video/mp4" />
        </video> -->
        <video id="v1" preload="auto"></video>
        <video id="v2" preload="auto"></video>
        <video id="v3" preload="auto"></video>
        <video id="v4" preload="auto"></video>
        <video id="v5" preload="auto"></video>
        <video id="innocent" preload="auto"></video>
        <video id="guilty" preload="auto"></video>
        <audio id="audio">
          <source src="../static/main/vids/bgSound.mp3" type="audio/mp3">
        </audio>
      </div>
  
      <div id="intro">
        <p class="line-1 anim-typewriter">
          Interrogate requires access to your microphone and webcam.
        </p>
        <p class="line-2 anim-typewriters">
          Allow use of microphone and turn up volume.
        </p>
        <p class="line-3 anim-typewriters2">
          Be in a well-lit place and allow use of camera.
        </p>
      </div>

      <div id="nopermission">
        
        <span>Interrogate needs to analyze your bodylanguage and speech.<br> 
          Therefore we require permission to use your camera and microphone.<br>
          Please change the permissions by clicking on the lock icon in <br> URL Bar. Then <a id="reloader">click here</a> to Reload. Thank you very much.</span>
      </div>

      <div id='leaderboard'>
        <center>
        <p>LEADERBOARD</p><br>
        <div id='user'>
          Enter your name:<br><br>
          Name: <input id='name' type="text"></input><br><br>
          <button id="sub">Submit</button>
        </div>
      
        <table id='dt'>
            <thead>
                <!-- <th>Position</th> -->
                <th>Name</th>
                <th>Points</th>
            </thead>
            <tbody id='tbody1'>

            </tbody>
        </table>
      </center>
      </div>
      
        
      
        <script src="main/static/main/emotion/js/utils.js"></script>
        <script src="main/static/main/emotion/js/clmtrackr.min.js"></script>
        <script src="main/static/main/emotion/js/model_pca_20_svm_emotionDetection.js"></script>
        
        <script src="main/static/main/emotion/js/d3.min.js"></script>
        <script src="main/static/main/emotion/js/emotion_classifier.js"></script>
        <script src="main/static/main/emotion/js/emotionmodel.js"></script>

        <script src="main/static/main/js/main.js"></script>
</body>

</html>